html body{
    margin: 0;
    padding: 0;
    min-width: 1000px;
}
#black-bar{
    background-color: black;
    color: white;
    padding: 20px 0;
}
#black-bar a{
    color: white;
}
.fixed-container{
    width: 960px;
    margin: 0 auto;
}
#datetime{
    float: right;
}
#logo{
    position: relative;
    top: 40px;
}
#header{
    height: 100px;
}
#menu-container{
    height: 70px;
}
#column-left{
    background-color: red;
    width: 250px;
    float: left;
}
#column-center{
    background-color: green;
    width: 420px;
    margin-left: 20px;
    float: left;
}
#central-container .fixed-container{
    overflow-y: hidden;
}
#column-right{
    width: 250px;
    float: right;
}
#column-right img{
    margin-bottom: 20px;
}
#special-news{
    margin-top: 20px;
}